<ul>
  <%@surveys.each do |survey|%>
    <% if survey.questions.empty? %>
      <%survey.destroy%>
    <% else %>
      <li><a href="/surveys/<%=survey.id%>"><%=survey.name%></a></li>
    <% end %>
  <% end %>
</ul>


<a id= "create-survey-link" href="/surveys/new">Create a New Survey</a>
