<div id="new-survey-form-container">
  <form id="new-survey-form" method="POST" action="/surveys">
    <label>Survey Name:</label>
    <input type="text" name= "survey[name]">
    <label>Survey Category:</label>
    <input type="text" name= "survey[category]">
    <input type="submit" value= "Create Survey">
  </form>
</div>

<!-- <div id="new-question-form-container">
  <form id="new-question-form" method="POST" action="/questions">
    <label>Question</label>
    <textarea name="question[question_text]"></textarea>
    <p>
      <span id="addVar">Add Variable</span>
    </p>
    <input type="submit" value= "Submit Question">
  </form>
  <a href="/surveys">Submit Survey (Only submit after you have submitted your last question.)</a>
</div> -->

<div id="new-question-form-container">
  <form id="new-question-form" method="POST" action="/questions">
    <label>Question</label>
    <textarea name="question[question_text]"></textarea>
    <p>
      <span id="addVar">Add Choice</span>
    </p>
    <input id="submit-question-button" type="submit" value= "Submit Question">
  </form>
</div>

<div id="submit-survey-container">
  <h3> Click here if you are completely done adding questions to this survey and have submitted your final question.</h3>
    <form id="complete-survey-button" action="/surveys">
       <input type="submit" value= "Submit Completed Survey">
    </form>
</div>
