<div id = "new-survey-form-container">
  <form id="new-survey-form" method='post' action="/surveys">
    <label>Survey Name:</label>
    <input type="text" name= "name">
    <label>Survey Category:</label>
     <input type="text" name= "category">
<!-- </form>
</div> -->

<!-- <div class="new-question-form-container">
  <form > -->
   <!--  <label>question</label>
    <input type="text" name= ""> -->
    <!-- /form>
</div> -->

<!-- <div id="new-choice-form-container">
  <form id="new-choice-form"> -->
  <br><label>Question:</label>
    <textarea  name= "question_text[1]"></textarea>
      <label>A:</label>
      <input type="text" name= "choice_text[1]">
      <label>B:</label>
      <input type="text" name= "choice_text[2]">
      <label>C:</label>
      <input type="text" name= "choice_text[3]">
      <label>D:</label>
      <input type="text" name= "choice_text[4]">
<br><br><br>
  <br><label>Question:</label>
    <input  class ="long-input"type="text" name= "question_text[2]">
      <label>A:</label>
      <input type="text" name= "choice_text[5]">
      <label>B:</label>
      <input type="text" name= "choice_text[6]">
      <label>C:</label>
      <input type="text" name= "choice_text[7]">
      <label>D:</label>
      <input type="text" name= "choice_text[8]">
<br><br><br>
<br><label>Question:</label>
<textarea name= "question_text[3]"></textarea>

      <label>A:</label>
      <input type="text" name= "choice_text[9]">
      <label>B:</label>
      <input type="text" name= "choice_text[10]">
      <label>C:</label>
      <input type="text" name= "choice_text[11]">
      <label>D:</label>
      <input type="text" name= "choice_text[12]">
<br>
  <br><label>Question:</label>
    <input type="text" name= "question_text[4]">
      <label>A:</label>
      <input type="text" name= "choice_text[13]">
      <label>B:</label>
      <input type="text" name= "choice_text[14]">
      <label>C:</label>
      <input type="text" name= "choice_text[15]">
      <label>D:</label>
      <input type="text" name= "choice_text[16]">
<br>

<input type="submit" value= "Create Survey">
</form>
</div>
