<%=@survey.name%>

<%@survey.questions.each do |question|%>
  <h3><%=question.question_text%></h3>
    <%question.choices.each_with_index do |choice, index|%>
      <h4><%= index +1 %><%=choice.choice_text%></h4>
  <%end%>
  <%end%>
